@charset "shift_jis";



body {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size: 90%;
	line-height: 2;
	color: #333333;				/*全体の文字色*/
	background-color: #FFFFFF;	/*背景色*/
	margin: 0px;
	padding: 0px;
	text-align: center;
}

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
}

img {
	border: none;
}

input,textarea,select {
	font-size: 1em;
}

form {
	margin: 0px;
}

table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}



/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333333;
}

a:hover {
	color: #AC3608;			/*カーソルオーバー時の文字色*/
	text-decoration: none;	/*カーソルオーバー時に下線を消す設定*/
}



/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: 950px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}



/*ヘッダー（ロゴなどが入っているHP上部ブロック）
---------------------------------------------------------------------------*/
#header {
	height: 230px;	/*ヘッダーの高さ*/
	width: 100%;
	position: relative;
	background-image: url(images/header_bg.jpg);	/*背景画像*/
	background-repeat: no-repeat;
	background-position: top;
	padding-bottom: 30px;
}

/*ロゴ画像の位置設定*/
#header #logo {
	position: absolute;
	left: 20px;	/*ヘッダーブロックに対して左から20pxの位置に配置*/
	top: 0px;	/*ヘッダーブロックに対して上から0pxの位置に配置*/
}


/*h1タグ設定*/
#header h1 {
	font-size: 10px;	/*文字サイズ*/
	line-height: 30px;
	font-weight: normal;
	position: absolute;
	right: 0px;		/*ヘッダーブロックに対して右から0pxの位置に配置*/
	bottom: 0px;	/*ヘッダーブロックに対して下から70pxの位置に配置*/
	width: 100%;
	text-align: right;	/*右寄せ*/
	height: 30px;
}



/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
#main .new {
	overflow: auto;
	height: 150px;			/*ボックスの高さ*/
	width: 680px;
	padding-right: 10px;
	padding-left: 10px;
}

#main .new dl {
	clear: left;
	width: 660px;
	border-bottom: 1px solid #cccccc;	/*日付ごとに入る下線の幅、線種、色*/
	overflow: hidden;
}

#main .new dt {
	font-weight: bold;	/*日付を太字に*/
	float: left;
	width: 100px;
}

#main .new dd {
	float: left;
	width: 560px;
}

#main .new dd img {
	vertical-align: middle;
}

/*IE6用*/
*html #main .new dd img {
	margin-top:0.5em;
	vertical-align: baseline;
}



/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	width: 700px;
	float: right;
}

/*h2タグ設定*/
#main h2 {
	font-size: 120%;	/*文字サイズ*/
	background-image: url(images/title_bg1.jpg);	/*背景画像*/
	background-position: left top;
	color: #FFFFFF;	/*文字色*/
	padding: 0px 10px;
}

/*段落タグの余白設定*/
#main p {
	padding: 0.5em 10px 1em;
}

/*段落タグ内を幅一杯に使いたい場合用*/
#main p.img {
	padding: 0.5em 0 1em;
}



/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	float: left;
	width: 220px;
}

/*h3タグ設定*/
#sub h3 {
	font-size: 100%;
	color: #AC3608;				/*文字色*/
	border: 3px solid #AC3608;	/*枠線の幅、線種、色*/
	text-align: center;			/*センタリング*/
}

/*段落タグ*/
#sub p {
	padding-top: 0.5em;
	padding-bottom: 1em;
}



/*画像（サブ）メニュー
---------------------------------------------------------------------------*/
ul.menu li {
	margin-bottom: 10px;
}

ul.menu img {
	vertical-align: bottom;
}

/*カーソルオーバー時に少し動く設定*/
ul.menu li a:hover {
	position: relative;
	left: 1px;
	top: 1px;
}



/*サブメニュー
---------------------------------------------------------------------------*/
ul.submenu {
	margin-bottom: 1em;
}

ul.submenu li {
	text-align: center;	/*センタリング*/
}

ul.submenu li a {
	text-decoration: none;
	background-color: #EAEAEA;	/*背景色*/
	display: block;
	width: 218px;
	border-right: 1px solid #bfbfbf;	/*右側のボーダーの幅、線種、色*/
	border-bottom: 1px solid #bfbfbf;	/*下側のボーダーの幅、線種、色*/
	border-left: 1px solid #bfbfbf;		/*左側のボーダーの幅、線種、色*/
	padding-top: 5px;
	padding-bottom: 5px;
}

ul.submenu li a:hover {
	background-color: #FFFFFF;	/*カーソルオーバー時の背景色*/
}



/*フッター
---------------------------------------------------------------------------*/
#footer {
	text-align: center;	/*中のテキストをセンタリング*/
	clear: both;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*フッター内にリンク設定した場合用*/
#footer a {
	text-decoration: none;
}



/*Ｑ＆Ａページ
---------------------------------------------------------------------------*/
dl.qa dt {
	color: #ac3608;	/*文字色*/
	background-image: url(images/qa_q.gif);	/*左側の「Ａ」アイコンを背景画像として読み込む*/
	background-repeat: no-repeat;
	background-position: left top;
	font-weight: bold;
	padding-left: 30px;
}

dl.qa dd {
	background-image: url(images/qa_a.gif);	/*左側の「Ｑ」アイコンを背景画像として読み込む*/
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 30px;
	border-bottom: 1px solid #CCCCCC;	/*下線の幅、線種、色*/
	margin-bottom: 0.4em;
}



/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 700px;	/*テーブル幅*/
}

.ta1, .ta1 td, .ta1 th{
	border: 2px solid #521200;	/*テーブルの枠線の幅、線種、色*/
}

/*テーブル内の右側*/
.ta1 td{
	width: 504px;				/*幅*/
	padding: 10px;	/*テーブル内の余白*/
	background-color: #f9f2dd;	/*背景色*/
}

/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 150px;				/*幅*/
	padding: 10px;	/*テーブル内の余白*/
	text-align: center;			/*文字をセンタリング*/
	background-color: #EBA801;	/*背景色*/
	color: #FFFFFF;				/*文字色*/
}

/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	background-color: #AC3608;	/*背景色*/
	color: #FFFFFF;				/*文字色*/
}

/*テーブル１行目に入った見出し部分にリンクを設定した場合用*/
.ta1 th.tamidashi a {
	color: #FFFFFF;
}



/*その他
---------------------------------------------------------------------------*/
.look {
	background-color: #DCDCDC;
}

.mb1em {
	margin-bottom: 1em;
}

.clear {
	clear: both;
}

ul.disc {
	padding: 0.5em 10px 0.5em 25px;
	list-style: disc;
}

.color1 {
	color: #FF0000;
}

.pagetop {
	text-align: right;
	padding: 3em 0px 0px !important;
}
